html, body {
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1C1C1C;
}

header {
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px; 
  margin: 0 auto; 
  position: relative;
}

header .for-mb{
  display: none;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 30px;
}

header nav ul li {
  margin: 0 20px;
}

 a {
  color: white;
  text-decoration: none;
  font-family: 'RaleWay';
  font-size: 20px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color:#17FFB2; 
}

nav ul li a:active {
  color: #17FFB2; 
}

.menu-icon {
  display: none; 
  background-color: #17FFB2;
  padding: 3px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.menu-icon span {
  width: 25px;
  height: 3px;
  background-color: white;
}

section {
  max-width: 1400px;
  padding: auto;
  width: 100%;
  margin: 0 auto;
}

.contact {
  background: lightcoral;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.hero {
  width: 100%;
}

.description{
  font-family: 'RaleWay';
  font-size: 26px;
  text-align: left;
}

.text-left{
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  flex-grow: 1;
  padding: 60px 40px 20px 40px;
}

.title{
  width: 70%;
  font-size: clamp(50px, 7vw, 70px);
  font-weight: 500;
  text-align: left;
}

.title-mob{
  display: none;
}

.green-back{
  background-color: #17FFB2;
  border-radius: 10px;
}

.green-back2{
  background-color: #17FFB2;
  border-radius: 5px;
  padding: 2px 8px;
}

.nowrap{
  white-space: nowrap;
}

.hero-content {
  position: relative;
  color: white;
  width: 100%;
  height: 63vh;
  border-radius: 40px;
  overflow: hidden; 
  display: flex;
  justify-content: space-between;
}

.background-video {
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  background-position-y: top;
  z-index: -10; 
}

.content {
  position: relative;
  z-index: 1; 
  padding: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
}

.bottom-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  bottom: 0;

}

.st-btn{
  font-size: 30px;
}

.text-right {
  font-family: Raleway;
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 40%;
}

.mTop{
  margin-top: 15px;
}

.startButton{
  background-color: transparent;
  border: 2px solid #17FFB2;
  border-radius: 100px;
  padding: 10px 20px;
  color: white;
  font-family: Raleway;
}

.header-btn{
  font-size: 20px;
}

/* choose */
.choose-title{
  font-family: Raleway;
  font-size: clamp(40px, 3vw, 48px);
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  max-width: 1400px;
  padding: auto;
  width: 100%;
  margin: 5% auto 2% auto;
}

.choose-green{
  color: #17FFB2;
}

#numbers {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
  padding: 5% 0 8% 0;
  margin: 5% 0;
}

#numbers .line,
#numbers .num,
#numbers .icon {
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  flex-shrink: 0;  */
}

#numbers .line {
  width: 25vw;
}

#numbers .num {
  width: 100%;
  height: 100%;
}

#numbers .icon {
  width: 3.4vw;
}

.text {
  color: #fff;
  position: relative;
  font-size: clamp(14px, 4vw, 20px);
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
 
  height: 30px;
  align-self: center;
}

.card-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.card-pale-text{
  /* font-size: clamp(14px, 2vw, 18px); */
  font-size: clamp(6px, 2vw, 18px);
  opacity: 20%;
  width: 100%;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: start;
  gap: 10px;
  justify-content: space-between;
}

.card1{
  position: relative;
  width: 100%;
  max-width: 48%;
  aspect-ratio: 1;
  background-color: #111111;
  display: flex;
  overflow: hidden;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 2%;
}

.bubble-text{
  z-index: 30;
  /* font-size: clamp(5px, 4vw, 25px); */
  font-size: clamp(5px, 2vw, 25px);
  font-family: 'Raleway';
  font-weight: 500;
  text-align: start;
  padding: 12%;

}

.card2{
  position: relative;
  width: 90%;
  max-width: 48%;
  aspect-ratio: 1;
  background-color: #111111;
  display: flex;
  overflow: hidden;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.shieldWrapper {
  position: absolute;
  width: 60%;
  height: 90%;
  top: 35%;
  display: flex;
  justify-content: center;
}

.card3 {
  position: relative;
  width: 90%;
  max-width: 48%;
  aspect-ratio: 1; 
  background-color: #111111;
  display: flex;
  overflow: hidden;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  flex-direction: column;
}

.card3-text{
  /* font-size: clamp(23px, 3vw, 40px); */
  font-size: clamp(13px, 3vw, 40px);
  line-height: 1.1;
  text-align: left;
  width: 70%;
  font-family: 'Raleway';
  margin-left: 35px;
}

.card4 {
  position: relative;
  width: 90%;
  max-width: 48%;
  aspect-ratio: 1;
  background-color: #111111;
  display: flex;
  overflow: hidden;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  flex-direction: column;
  align-items: center,
}

.card4-text{
  font-family: 'Raleway';
  /* font-size: clamp(20px, 3vw, 35px); */
  font-size: clamp(10px, 3vw, 35px);
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  margin-left: 35px;
  width: 80%;
  z-index: 10;
  position: relative;

}

.card4-footer{
  position: absolute;
  width: 100%;
  z-index: 20;
  bottom: 3%;
  text-align: center;
  font-family: 'Raleway';
  /* font-size: "clamp(40px, 4vw, 70px)"; */
  font-size: "clamp(20px, 4vw, 70px)";
  line-height: 70px;
  font-weight: 500;
}

/* CURTAIN */
#curtain{
  padding: 3vw 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
}

.outer-container {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 5% 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.main-text {
  font-family: 'Raleway';
  font-size: clamp(34px, 5vw, 60px);
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}


.inner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #17FFB2; 
  height: 110%;
  text-align: center;
  color: black;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container p {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(34px, 5vw, 60px);
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  margin-right: 20px;
  color: #000;
  width: 100%;
}

.arrow-icon {
  width: 10vw;
  height: auto;
  max-width: 49px; 
  fill: #1c1c1c; 
  align-self: center;
}

/* ice */
#ice {
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  width: 80%; 
  height: 600px; 
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: white;
  max-width: 1400px;
}

.ice-title{
  font-family: Raleway;
  z-index: 30;
  color: white;
  font-size: clamp(40px, 5vw, 80px);
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  margin: 68px 0 10px 43px
}

.ice-card {
  position: relative;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 271px;
  height: 122px;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  border-image-slice: 1; 
  display: flex;
  justify-content: space-between;
}

.ice-bubbles{
  position: absolute;
}

.ice-btn{
  background: #FFFFFF;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  color: #17FFB2;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#ice {
  position: absolute;
  width: 1543.03px;
  height: 1543.03px;
  left: 252.5px;
  top: -692.96px;
  background: url("src/img/Gradient.png");
  transform: rotate(24.2deg);
}

.ice2{
  position: absolute;
  width: 1320px;
  height: 585px;
  left: -20px;
  top: -5px;
  background: #17FFB2;
  mix-blend-mode: hue;
}


.ice-cards{
  display: flex;
  width: 45%;
  margin-left: 35px;
  flex-direction: column;
  justify-content: space-between;
}

.cards1{
  /* width: 100%;
  display: flex;
  height: 122px;
  justify-content: space-between; */
}

.ice-card {
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(17px);
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: white;
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ice-bubbles{
  position: absolute;
}

.ice-btn{
  background: #FFFFFF;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  color: #17FFB2;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.ice-chat{
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 35px;
}

.ice-chat2{
  font-size: 10px;
  line-height: 10px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.ice-card2 {
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(17px);
  border-radius: 10px; 
  color: white;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.arrow{
  margin-right: 5px;
}

.ice-card-long{
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  background: linear-gradient(180deg, rgba(176, 176, 176, 0.15) 0%, rgba(25, 25, 25, 0.18) 100%);
  backdrop-filter: blur(17px);
  overflow: hidden;
  height: 122px;
  display: flex;
  align-items: center;
}

.ice-long-text{
  width: 50%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  color: white;
  margin-left: 35px;
}

.long-vector{
  position: absolute;
  right: 0;
  top: 5px;
  width: 45%;
  display: flex;
  align-items: bottom;
  justify-content: center;
}

#secIce {
  position: relative;
  width: 1240px;
  height: 560px;
  background-color: #000000; /* Резервный фон */
  overflow: hidden; /* Скрываем выходящие части */
  border-radius: 40px;
}

.bg-bg{
  position: absolute;
  width: 2039.91px;
  height: 2039.91px;
  left: -379.96px;
  top: -692.96px;
}

.gr{
  position: absolute;
  width: 1543.03px;
  height: 1543.03px;
  background-image: url("src/img/Gradient.png");
  transform: rotate(24.2deg);
}

.fade1{
  position: absolute;
  width: 2039.91px;
  height: 2039.91px;
  left: -379.96px;
  top: -692.96px;
}

.gradient{
  position: absolute;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 1543.03px;
  height: 1543.03px;
  background: url("src/img/Gradient.png");
  transform: rotate(-24.2deg);
}



/* PLEASE */
#steps{
  background: url("img/steps2.png");
  position: relative;
  background-color: #000000; 
  overflow: hidden; 
  border-radius: 40px;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding: 0;
}

.ice-btn2{
  margin: 20px 0 35px 35px;
  color: #17FFB2;
  background-color: white;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 100px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
 
.card-cube{
  display: flex;
}

.cube {
  position: absolute;
  width: 542.36px;
  height: 475.33px;
  top: 30%; 
  left: 70%; 
  transform: translate(-40%, -50%); 
  opacity: 1;
  z-index: 1; 
}

.faq-title {
  font-family: Raleway;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}

.faq-items {
  display: flex;
  flex-direction: column;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-family: Raleway;
  font-size: 24px;
  font-size: clamp(18px, 5vw, 24px);
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
  color: #fff;
}

.faqq{
  width: 70%;
}

.faq-answer {
  font-size: 16px;
  font-family: Raleway;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #B2B2B2;
  font-family: Raleway;
  width: 60%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.faq-item.active .faq-answer {
  max-height: 1000px;
}

.faq-icon {
  transition: transform 0.3s ease-out;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg); 
}

.divider {
  height: 1px;
  background-color: #fff;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

#privacy{
  background: url("img/private.png");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.privacy-title{
  font-family: Raleway;
  font-size: clamp(35px, 6vw, 100px);
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.privacy-text{
  font-family: Raleway;
  font-size: clamp(18px, 5vw, 40px);
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  padding: 10px 30px;
  margin-top: 50px;
}

.privacy-button{
  margin-top: 35px;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  background-color: transparent;
  border: 2px solid #17FFB2;
  border-radius: 100px;
  padding: 10px 20px;
  color: white;
  font-family: Raleway;
  font-size: 30px;
}


#footer{

width: 100%;

background-color: #111;

}

.footer-content{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 100px 0 50px 0;
}

.text-gray{
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5B5E65;
  text-transform: uppercase;
  margin-top: 20px;
}

.footer-right{
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.foot-left{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.foot-right{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  align-items: end;

}

.footer-text{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #D5D5D5;
}

.text-gray2{
  color: #5B5E65 !important;
}

.footer-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #D5D5D5;
}

.language-select {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #D5D5D5;
  background-color: transparent;
  border: none;
  appearance: none; 
  outline: none;
  cursor: pointer;
  margin: 0 5px 0 5px;
  transition: color 0.3s ease;
}

.language-select:focus {
  border: none;
  outline: none;
  color: #fff;
}

.language-select option {
  background-color: #1e1e1e;
  color: #D5D5D5;
}

.language-select::-ms-expand {
  display: none; 
}

.language-select-wrapper{
  align-items: center;
  justify-content: center;
  display: flex;
}

#whyUs{
  align-items: start;
}

#whyUs .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 576px) {
  .arrow-icon {
    width: 6vw; 
  }

  .arrow-icon2 {
    width: 3vw;
  }

  .card {
    width: 100%; 
    max-width: none;
  }

  .card3-text, .card4-text{
    margin-left: 20px;
  }

  .btn {
    bottom: 10px;
    right: 10px;
  } 

  section, header {
    padding: 20px; 
    box-sizing: border-box; 
  }

  .hero, .contact, .choose-title, .ice-title {
    padding: 20px; 
  }

  .ice-title{
    margin: 0;
  }

  .card {
    width: "100%" !important;  
  }

  .startButton {
    font-size: clamp(20px, 3vw, 30px);
    padding: 8px 16px;
    margin: 10px 0;
    margin-top: 15%;
    
  }

  .hero-content {
    flex-direction: column; 
    border-radius: 20px;
    height: auto;
  }

  .footer-right{
    flex-direction: column ;
  }

  .foot-left, .foot-right{
    align-items: center;
    width: 100% !important;
  }

  .language-container{
      margin-bottom: 40px;
      margin-top: 15px;
  }
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.card-item {
  width: 300px; 
  height: auto;
  background-color: #111;
  color: white;
  padding: 20px;
}

@media (max-width: 768px) {
  .text-right{
    width: 98%;
    text-align: right;
  }

  body{
    padding: 0;
  }

  .title {
    font-size: 40px; 
    width: 100%; 
  }

  .title-desktop{
    display: none;
  }

  .title-mob {
    display:flex;
  }

  .description {
    font-size: 22px; 
  }

  .text-left {
    text-align: right; 
    padding: 10px;
  }

  .bottom-text {
    bottom: 0;
    width: 100%;
    text-align: right; 
    flex-direction: column;
    align-items: end;
    text-align: start;
    margin: 0;
    flex-direction: column-reverse;
  }

  .enjoy{
    width: 100%;
    margin-top: 30%;
    margin-bottom: 10%;
    text-align: end;
    display: flex;
    justify-content: end;
  }

  .startButton {
    padding: 8px 16px;
    align-self: flex-start;
  }

  .hero-content {
    flex-direction: column;
    justify-content: center;
  }

  .card-pale-text{
    margin-top: 5%;
    margin-bottom: 20px;
    text-align: center;
  }

  .card-mob{
    margin-left: 20px !important;
  }

  header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    background-color: #1C1C1C; 
    overflow: hidden; 
    transition: height 0.3s ease-in-out; 
    z-index: 5;
  }

  nav ul {
    flex-direction: column; 
    gap: 10px; 
    padding: 10px 0;
    background-color: #1C1C1C;
  }

  nav ul li {
    margin: 0; 
  }

  .header-btn {
    margin-top: 10px; 
    font-size: 18px; 
    padding: 8px 16px;
  }

  .menu-icon {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 5px;
    position: absolute; 
    right: 20px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .menu-open nav ul {
    display: flex;
    align-items: start;
    padding: 30px 0 50px 0;
  }

  .logo {
    width: 150px; 
    height: auto;
  }

  header .for-mb{
    display: block;
  }

  header .for-lg{
    display: none;
  }

  /* #hero .green-back{
    background-color: transparent;
  } */

  /* #hero .green-mob{
    background-color: #17FFB2;
    border-radius: 10px;
    display: none;
  } */

  .arrow-icon {
    width: 8vw;
  }

  .arrow-icon2 {
    width: 4vw; 
  }

  .card1, .card2, .card3, .card4 {
    /* width: 90vw; 
    max-width: none; */
  }

  .ice-title{
    width: 60%;
  }

  .ice-cards{
    flex-direction: column; 
    width: 90% !important;
    padding: 20px 20px 0 20px !important;
    margin: 0 !important;
    gap: 10px;
    z-index: 1;
    position: relative;
  }

  .cards1{
    flex-direction: column;
    height: auto !important;
    gap: 10px
  }

  .ice-card{
    height: 122px !important;
    width: 90% !important;
    z-index: 1;
  }

  .ice-card2{
    height: 122px !important;
    width: 90% !important;
  }

  .ice-card-long{
    height: 122px !important;
    width: 90% !important;
    margin: 0 !important;
    align-items: flex-start !important;
  }

  .ice-chat{
    margin-left: 10px !important;

  }

  .ice-chat2{
    justify-content: left !important;
    margin-left: 10px !important;
  }

  .ice-long-text{
    margin: 10px 0 0 10px !important;
    width: 70% !important;
  }

  .ice-btn2{
    margin: 30px 20px 20px !important;
  }

  .faq-answer{
    width: 75% !important ;
  }

  .footer-content{
    flex-direction: column;
    width: 100%;
  }

  .footer-left{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-right{
    width: 100% !important;
  }

  .footer-content{
    padding: 50px 0 50px 0 !important;
    width: 80%;
  }

  .footer-rights{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .privacy-text{
    width: 80%;
  }

  .slider-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto; 
  }

  .slider-item {
    display: flex;
    justify-content: center; 
    padding: 10px;
  }

  .card-item {
    width: 100%; 
    height: auto;
    padding: 20px;
  }

  .cube {
    position: absolute;
    width: 90%;
    height: 80%;
    top: 12%;
    left: 20%;
    opacity: 0.5;  
    z-index: 5;
  }

  .ice-card, .ice-card2, .ice-card-long {
    position: relative; 
    z-index: 5; 
  }

  #steps {
    position: relative;
    background-color: #000000;
    border-radius: 40px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding: 0;

  }

  .ice-cards{
    z-index: 2;
  }
  
  .cube {
    position: absolute;
    width: 542.36px;
    height: 475.33px;
    top: 30%; 
    left: 40%; 
    transform: translate(-40%, -50%); 
    opacity: 1;
    z-index: 1; 
  }

  #numbers{
    flex-direction: column;
    gap: 20px;
  }

  #numbers .line, .icon {
    display: none;
  }

  .circle {
    background-color: #111111;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* width: 90vw; */
    width: 48%;
  
    border-radius: 20px;
    aspect-ratio: 1;
    margin-bottom: 15px;
  }


  
  #numbers .num{
    width: 100%;
  }

  #numbers .text{
    font-size: 26px !important;

  }

  #numbers{
    padding-bottom: 100px;
  }

  .card4-footer{
    bottom: -40% !important;
  }
}

.card-btn{
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.2;
}

.slick-dots li{
  margin: 0 !important;
}